<!doctype html>
<title>{% block title %}{% endblock %}</title>
<base href="/" />
<nav>
  <!-- 
    You can display a block you've defined with the self.title() or whatever you named your block
    + see: https://stackoverflow.com/questions/20929241/how-to-repeat-a-block-in-a-jinja2-template
  -->
  <h1>{{ self.title() }}</h1>
  <ul>
    <li><a href='general/test1'>Test 1</a></li>
  </ul>
</nav>
<section class="content">
  {% block content %}{% endblock %}
  
  <script src="https://unpkg.com/htmx.org@1.8.5" integrity="sha384-7aHh9lqPYGYZ7sTHvzP1t3BAfLhYSTy9ArHdP3Xsr9/3TlGurYgcPBoFmXX2TX/w" crossorigin="anonymous"></script>  
</section>