<html>
    <body>

        Current Time is:
        <div hx-get="general/currentTime"
            hx-trigger="every 1s"
            hx-swap="innerHtml">
        </div>

        Button Click Test  <button hx-trigger="click" hx-get="general/buttonClick1" hx-target="#buttonDisplayDiv" hx-swap="innerHtml">Click Me</button>
        <div id="buttonDisplayDiv"></div>

        <script src="https://unpkg.com/htmx.org@1.8.5" integrity="sha384-7aHh9lqPYGYZ7sTHvzP1t3BAfLhYSTy9ArHdP3Xsr9/3TlGurYgcPBoFmXX2TX/w" crossorigin="anonymous"></script>
    </body>
</html>